window-rule {
    background-effect {
        blur true
    }

    popups {
        geometry-corner-radius 15

        background-effect {
            blur true
        }
    }
}

window-rule {
    match title="^Vicinae Launcher$"

    background-effect {
        blur true
        xray false
    }
}

layer-rule {
    match namespace="^vicinae$"

    background-effect {
        blur true
        xray false
    }
}
