/*
* https://github.com/catppuccin/waybar/blob/main/themes/mocha.css
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

@define-color text #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color sapphire #74c7ec;
@define-color sky #89dceb;
@define-color teal #94e2d5;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color peach #fab387;
@define-color maroon #eba0ac;
@define-color red #f38ba8;
@define-color mauve #cba6f7;
@define-color pink #f5c2e7;
@define-color flamingo #f2cdcd;
@define-color rosewater #f5e0dc;

* {
  /* https://docs.gtk.org/gtk3/css-overview.html#colors */
  color: @text;
  font-family: "Maple Mono NF CN";
  font-size: 12pt;
  font-weight: bold;
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 0.5s;
}
@keyframes blink_red {
  to {
    background-color: @red;
    color: @base;
  }
}
.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
window#waybar {
  background-color: transparent;
  border: 2px solid alpha(@crust, 0.3);
}
window > box {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  background-color: @base;
  padding: 3px;
  padding-left: 8px;
  border: 2px none @sapphire;
}
#workspaces {
  padding-left: 0px;
  padding-right: 4px;
}
#workspaces button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  color: @subtext0;
}
#workspaces button.active {
  background-color: @blue;
  color: @crust;
}
#workspaces button.urgent {
  background-color: @red;
  color: @crust;
}
#workspaces button:hover {
  background-color: @surface2;
  color: @text;
}
tooltip {
  background: @mantle;
}
tooltip label {
  color: @text;
}
#custom-launcher {
  font-size: 20px;
  padding-left: 8px;
  padding-right: 6px;
  color: @sapphire;
}
#mode,
#clock,
#memory,
#temperature,
#cpu,
#custom-wall,
#temperature,
#backlight,
#pulseaudio,
#network,
#battery,
#custom-powermenu {
  padding-left: 10px;
  padding-right: 10px;
}

#memory {
  color: @teal;
}
#cpu {
  color: @pink;
}
#clock {
  color: @text;
}

#idle_inhibitor {
  color: @mauve;
  padding-right: 8px;
}
#battery {
  min-width: 55px;
  color: @blue;
}
#battery.charging,
#battery.full,
#battery.plugged {
  color: @green;
}
#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#custom-wall {
  color: @sky;
}
#temperature {
  color: @sapphire;
}
#backlight {
  color: @peach;
}
#pulseaudio {
  color: @rosewater;
}
#network {
  color: @green;
}
#network.disconnected {
  color: @red;
}
#custom-powermenu {
  color: @maroon;
  padding-right: 8px;
}
#tray {
  padding-right: 8px;
  padding-left: 10px;
}
